$color-primary: #02D7FE;
$color-primary-alt-1: #16B1D7;
$color-primary-alt-2: #01749C;
$color-primary-alt-3: #013D67;
$color-primary-alt-4: #D716B1;
$color-secondary: #F78206;
$color-secondary-alt-1: #F3A517;

$color-dark-grey: #343434;
$color-light-grey: #515151;
$color-white: #fff;
