.schedule {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: max-content 1fr;
    margin-top: 2rem;

    &__timing {
        grid-column-start: 1;
    }

    &__session,
    &__break {
        grid-column-start: 2;
    }

    &__track-label {
        background: $color-primary-alt-1;
        color: $color-white;
        padding: 2px 10px;
        margin: 0;
        font-size: 0.85rem;
    }
}

@media (max-width: 575px) {
    .schedule{
        &__track {
            display: none;
        }
    }
}

@media (min-width: 576px) {
    .schedule {
        grid-gap: 20px;
        grid-template-columns: max-content repeat(2, 1fr);

        &__track-1 {
            grid-column-start: 2;
        }

        &__track-2 {
            grid-column-start: 3;
        }

        &__session,
        &__break {
            grid-column-start: auto;
        }

        &__break {
            grid-column-end: span 2;
        }

        &__track-label {
            display: none;
        }
    }
}
