.header-nav {
  background-color: var(--clr-primary-100);
  height: 6.25rem;
  margin-block-end: -6.25rem;
}

.header-nav > .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-logo {
  padding-inline: 4.375rem;
}

.hero {
  color: var(--clr-neutral-200);
}

.hero > .container {
  background-color: var(--clr-primary-100);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46.875rem;
  z-index: -1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
}

.hero-img {
  opacity: 0.2;
}

.title {
  font-size: var(--fs-heading);
  font-weight: var(--fw-extra-bold);
}

.title-underline {
  display: flex;
  align-items: end;
  gap: 10px;
  margin-block: 12px 6px;
}

.title-underline > .first {
  background-color: var(--clr-neutral-200);
  height: 5px;
  width: 130px;
}

.title-underline > .second {
  background-color: var(--clr-accent-400);
  height: 5px;
  width: 30px;
}

.title-underline > .third {
  background-color: var(--clr-primary-400);
  height: 5px;
  width: 30px;
}
