@font-face {
    font-family: "FSMatthews";
    font-display: swap;
    src: url("/assets/fonts/FSMatthewWeb-Regular.woff") format("woff");
}
  
@font-face {
    font-family: "FSMatthewsBold";
    font-display: swap;
    src: url("/assets/fonts/FSMatthewWeb-Bold.woff") format("woff");
}
