<!-- Footer -->
<footer class="footer">
    <div class="container">
        <img class="footer__logo" src="{{ asset('build/images/im-logo.png') }}" alt="Immediate Media" width="150"
             height="46" loading="lazy">
        <p class="footer__copy">&copy; 2020-{{ "now"|date("Y") }} Copyright Immediate Media Co.</p>
    </div>
</footer>
