{% set subtitle = "20 October 2020 – Microsoft Teams" %}
<header class="masthead">
    <h1 class="masthead__heading masthead__heading--title" data-text="{{- title -}}">{{- title -}}</h1>
    <h2 class="masthead__heading masthead__heading--subtitle" data-text="{{- subtitle -}}">{{- subtitle -}}</h2>
</header>
