<header class="masthead">
    <h1 class="masthead__heading masthead__heading--title" data-text="{{- title -}}">{{- title -}}</h1>
    <h4 class="masthead__heading masthead__heading--subtitle" data-text="{{- subtitle -}}">{{- subtitle -}}</h4>
</header>
