<nav class="nav">
    <div class="container">
        <a href="#">
            <img class="nav__logo" src="{{ asset('build/images/fabric-con.png') }}" alt="FabriCon Logo" width="100"
                 height="30">
        </a>
    </div>
</nav>
