<div class="schedule">
    <div class="schedule__track schedule__track-1">
        {% include 'components/track.twig' with { track : 1, colour : "Cyan", description : settings.track1description } only %}
    </div>
    <div class="schedule__track schedule__track-2">
        {% include 'components/track.twig' with { track : 2, colour : "Magenta", description : settings.track2description } only %}
    </div>
    {% for slot in schedule %}
        <div class="schedule__timing">
            <h6>{{ slot.startTime|date('H:i') }}</h6>
        </div>

        {% if slot.track1 %}
            <div class="schedule__session schedule__session--track-1">
                <p class="schedule__track-label schedule__track-label--track-1">Cyan: VH Floor 5 Boardroom East</p>
                {% include 'components/talk.twig' with { talk : slot.track1, track : 1 } only %}
            </div>
        {% endif %}
        {% if slot.track2 %}
            <div class="schedule__session schedule__session--track-2">
                <p class="schedule__track-label schedule__track-label--track-2">Magenta: VH Floor 5 Boardroom West</p>
                {% include 'components/talk.twig' with { talk : slot.track2, track : 2 } only %}
            </div>
        {% endif %}
        {% if slot.breakDetails %}
            <div class="schedule__break">
                {% include 'components/break.twig' with { break : slot.breakDetails, style : slot.breakStyle } only %}
            </div>
        {% endif %}
    {% endfor %}
</div>
