<li class="list-group-item d-flex justify-content-between align-items-start" {{ attributes }}>
    {{ suggestion.topic|striptags }}
    {% if hasVoted %}
        <div class="alert alert-success">
            Thanks for voting!
        </div>
    {% else %}
        <button
                type="button"
                class="btn btn-success"
                data-action="live#action"
                data-action-name="vote()"
        >
            Vote
        </button>
    {% endif %}
</li>
