{% extends 'base.html.twig' %}

{% block title 'Fabric Conference 2020' %}

{% block body %}

    {% include 'components/navigation.twig' only %}
    {% include 'components/masthead.twig' with {
        title : conference.siteTitle,
        subtitle: conference.date|date('d F Y') ~ ' – Microsoft Teams'
    } %}

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="p-5">
                        {% if settings.introduction %}
                            <h2 class="display-4">Introduction</h2>
                            <p>{{ settings.introduction|raw }}</p>
                            <div class="conference__ctas">
                                {{ render(controller('App\\Controller\\SuggestionController::new')) }}
                            </div>
                        {% else %}
                            <h2 class="display-4">... COMING SOON ...</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% include 'components/footer.twig' only %}
{% endblock %}
