{% extends 'base.html.twig' %}

{% block title conference.siteTitle %}

{% block body %}

    {% include 'components/navigation.twig' only %}
    {% include 'components/masthead.twig' with {
        title : conference.siteTitle,
        subtitle: conference.date|date('d F Y') ~ ' – Microsoft Teams'
    } %}

    <div class="conference container">
        <section class="conference__section conference__section--intro">
            <h2>About Fabric Conference</h2>
            <p class="conference__desc">{{ conference.about }}</p>
            <div class="conference__details">
                <p>Each presentation has its own Teams Live session, so follow the “Join on Microsoft Teams” link to join at the right time. If you’re unable to attend on the day or you can’t choose between two talks you can come back and watch at any time as all talks will be recorded.</p>
                <p>If you’ve got any questions you’d like to send through to a speaker ahead of the conference, please use the “Submit a question” form. You’ll also get a chance to ask questions during each session using the Q&A feature.</p>
                {{ render(controller('App\\Controller\\QuestionController::new')) }}
            </div>
        </section>
        <section class="conference__section">
            <h2>Schedule</h2>
            {% include 'components/schedule.twig' with { schedule : schedule, settings : settings } only %}
        </section>
    </div>

    {% include 'components/footer.twig' only %}

{% endblock %}
